version: "3.9"
services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    image: energy-prediction-api:latest
    container_name: energy_api
    ports:
      - "8003:8000"
    environment:
      - ENV=production
      # - MODEL_PATH=/models/latest.pkl
    volumes:
      - ./models:/app/models
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/"]
      interval: 30s
      timeout: 5s
      retries: 3

  # Optionnel: un service d’entraînement séparé (batch)
  train:
    build:
      context: .
      dockerfile: Dockerfile
    image: energy-train:latest
    container_name: energy_train
    command: ["python", "-m", "api.app.train_model"]
    environment:
      - ENV=production
      # - OUTPUT_MODEL_PATH=/models/latest.pkl
    volumes:
     - ./models:/app/models
    restart: "no"